<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @blog.text %>
</p>

<h2>Posts</h2>
<%= render @blog.posts %>

<h2>Add a post:</h2>
<%= render 'posts/form' %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blog_path %>